aniso8601==8.0.0
asgiref==3.2.10
certifi==2020.6.20
cffi==1.14.2
cryptography==3.1
Django==3.1.1
django-rest-knox==4.1.0
djangorestframework==3.11.1
drf-nested-routers==0.91
Pillow==7.2.0
promise==2.3
psycopg2-binary==2.8.6
pycparser==2.20
python-dotenv==0.14.0
pytz==2020.1
Rx==3.1.1
singledispatch==3.4.0.3
six==1.15.0
sqlparse==0.3.1
Unidecode==1.1.1
